[*.cs]

# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none

# CA1010: Generic interface should also be implemented
dotnet_diagnostic.CA1010.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none

# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none
