# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# This file is the top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# Visual Studio XML Project Files
[*.{csproj,vbproj,vcxproj.filters,proj,projitems,shproj,json,props}]
indent_size = 2

[*.{cs,tsx,tx}]
file_header_template = Copyright © 2020 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the\nproperty of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual\nproperty law. Dissemination of this information or reproduction of this material is strictly forbidden,\nunless prior written permission is obtained from EPAM Systems, Inc

# Code files
[*.cs]

dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary

dotnet_analyzer_diagnostic.severity = warning

# Simplify name (IDE0001)
dotnet_diagnostic.IDE0001.severity = warning

# Simplify member access (IDE0002)
dotnet_diagnostic.IDE0002.severity = warning

# this and Me preferences (IDE0003 and IDE0009)
dotnet_style_qualification_for_field = false

# Remove unnecessary import (IDE0005)
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0005_gen.severity = warning

# 'var' preferences (IDE0007 and IDE0008)
dotnet_diagnostic.IDE0007.severity = none # Use implicit type
dotnet_diagnostic.IDE0008.severity = none # Use explicit type

# Add missing cases to switch statement (IDE0010)
dotnet_diagnostic.IDE0010.severity = none

# Use expression body for methods (IDE0022)
dotnet_diagnostic.IDE0022.severity = none

# Remove unreachable code (IDE0035)
dotnet_diagnostic.IDE0035.severity = warning

# Use conditional expression for assignment (IDE0045)
dotnet_diagnostic.IDE0045.severity = none

# Use conditional expression for return (IDE0046)
dotnet_diagnostic.IDE0046.severity = none

# Use language keywords instead of framework type names for type references (IDE0049)
dotnet_diagnostic.IDE0049.severity = none
dotnet_style_predefined_type_for_member_access = true # IDE0049
dotnet_style_predefined_type_for_locals_parameters_members = true # IDE0049

# Formatting rules (IDE0055)
dotnet_sort_system_directives_first = true


# Remove unnecessary expression value (IDE0058)
dotnet_diagnostic.IDE0058.severity = none

# Remove unnecessary suppression (IDE0079)
dotnet_diagnostic.IDE0079.severity = suggestion

dotnet_diagnostic.IDE0130.severity=none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.SpecialRules' (SA00XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpecialRules.severity = warning

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules' (SA11XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = warning

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules' (SA12XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = warning

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.NamingRules' (SA13XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = warning

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.MaintainabilityRules' (SA14XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = warning

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.LayoutRules' (SA15XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = warning

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules' (SA16XX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = warning

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.AlternativeRules' (SX)
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.AlternativeRules.severity = warning

# CA1005: Avoid excessive parameters on generic types
dotnet_diagnostic.CA1005.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# CA1017: Mark assemblies with ComVisible
dotnet_diagnostic.CA1017.severity = warning

# CA1021: Avoid out parameters
dotnet_diagnostic.CA1021.severity = warning

# CA1045: Do not pass types by reference
dotnet_diagnostic.CA1045.severity = warning

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = warning

# CA1501: Avoid excessive inheritance
dotnet_diagnostic.CA1501.severity = none

# CA1502: Avoid excessive complexity
dotnet_diagnostic.CA1502.severity = warning

# CA1505: Avoid unmaintainable code
dotnet_diagnostic.CA1505.severity = warning

# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = warning

# CA1509: Invalid entry in code metrics rule specification file
dotnet_diagnostic.CA1509.severity = warning

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = none
